@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    color: var(--white);
  }

  a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
  }
}

@layer components {
  .btn {
    @apply rounded-full px-5 py-1.5;
  }

  .access-btn {
    @apply w-full rounded-full bg-transparent text-orange border border-orange font-semibold p-2 text-sm cursor-pointer flex justify-center items-center gap-1;
  }

  .social-media-icon {
    @apply bg-orange rounded-lg p-0.5 hover:bg-navy-blue;
  }

  .about-items{
    @apply flex items-center gap-1 w-[49%] mb-3 lg:w-[100%] lg:gap-3
  }

  .about-items-icon{
    @apply bg-orange rounded-full p-1 text-xs
  }

  .about-items-text{
    @apply text-dark-grey text-xs lg:text-xl md:text-sm
  }
}

@layer utilities {
  .link-hover {
    @apply hover:border-b-2 hover:border-orange transition
  }
}


:root {
  --black-opacity: rgba(0, 0, 0, 0.45);
  --dark-grey: #747474;
  --blue: #030029;
  --grey: #ADADAD;
  --ash1: #E5E5E5;
  --ash2: #F8F8F8;
  --orange: #F37821;
  --orange-80: rgba(243, 120, 33, 0.8);
  --orange-60: rgba(243, 120, 33, 0.6);
  --orange-40: rgba(243, 120, 33, 0.4);
  --orange-20: rgba(243, 120, 33, 0.2);
  --navy-blue: #262262;
  --navy-blue-80: rgba(38, 34, 98, 0.8);
  --navy-blue-60: rgba(38, 34, 98, 0.6);
  --navy-blue-40: rgba(38, 34, 98, 0.4);
  --navy-blue-20: rgba(38, 34, 98, 0.2);
  --navy-blue-10: rgba(38, 34, 98, 0.1);
  --white: #FDFDFD;
}